.App {
  display: grid;
  grid-template-rows: auto auto;
  height: 100%; }
  .App h1,
  .App h2,
  .App h3,
  .App h4, .App h5 {
    text-align: center;
    color: white;
    font-weight: normal; }
  .App .list {
    background-color: #303030;
    border-right: 1px white solid; }
  @media (min-width: 600px) {
    .App {
      grid-template-columns: 300px auto;
      grid-template-rows: auto; } }
  @media (min-width: 900px) {
    .App {
      grid-template-columns: 300px 1fr 2fr 1fr; }
      .App .cards {
        grid-column-start: 3; } }
