.App {
  display: grid;
  grid-template-rows: auto auto;
  height: 100%;
  h1,
  h2,
  h3,
  h4,h5 {
    text-align: center;
    color: white;
    font-weight: normal;
  }


  .list {
    background-color: rgb(48, 48, 48);
    border-right: 1px white solid;
  }

  @media (min-width: 600px) {
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
  }
  @media (min-width: 900px) {
    grid-template-columns: 300px 1fr 2fr 1fr;
    .cards {
      grid-column-start: 3;
    }
  }
}
